<div class="flex justify-between items-center p-2">
  <div>
    <img ngSrc="programas.ico" alt="Logo" width="55" height="55" />
  </div>

  <nav>
    <ul class="flex space-x-4">
      @for (link of links; track link.path) {
        <li>
          <a [routerLink]="link.path" class="text-white hover:underline font-bold no-underline">
            {{ link.title }}
          </a>
        </li>
      } @empty {
        <li class="text-white">No hay enlaces disponibles.</li>
      }
    </ul>
  </nav>

  @if (links.length > 2) {
    <button (click)="logout()" class="ml-4 bg-red-600 text-white px-3 py-1 rounded-md hover:bg-red-700">
      Cerrar Sesión
    </button>
  }
</div>
