.error {
    color: red;
  }
  
  input {
    display: block;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 3rem;
  }
  