<div class="relative min-h-screen bg-cover bg-center" [ngStyle]="{'background-image': 'url(homeImage.jpg)'}">

    <div class="flex items-center justify-center min-h-screen relative z-10">
        <div class="bg-white bg-opacity-80 rounded-lg shadow-lg p-8 max-w-md w-full">
            <h2 class="text-2xl font-bold text-center mb-4"
                style="background-image: linear-gradient(to right, #007BFF, #87a1f5); -webkit-background-clip: text; color: transparent;">
                Registro
            </h2>
            <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
                <div class="mb-4">
                    <label for="nombre" class="block text-sm font-medium text-gray-700">Nombre:</label>
                    <input id="nombre" type="text" formControlName="nombre"
                        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-500" />
                    <small *ngIf="formulario.get('nombre')?.invalid && formulario.get('nombre')?.touched"
                        class="text-red-500">El nombre es requerido.</small>
                </div>

                <div class="mb-4">
                    <label for="email" class="block text-sm font-medium text-gray-700">Email:</label>
                    <input id="email" type="email" formControlName="email"
                        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-500" />
                    <small *ngIf="formulario.get('email')?.invalid && formulario.get('email')?.touched">
                        <ng-container *ngIf="formulario.get('email')?.errors?.['required']; else emailInvalid">
                            El email es requerido.
                        </ng-container>
                        <ng-template #emailInvalid>
                            El email no es válido.
                        </ng-template>
                    </small>
                </div>

                <div class="mb-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Contraseña:</label>
                    <input id="password" type="password" formControlName="password"
                        class="mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring focus:ring-blue-500" />
                    <small *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched">
                        <ng-container *ngIf="formulario.get('password')?.errors?.['required']; else passwordInvalid">
                            La contraseña es requerida.
                        </ng-container>
                        <ng-template #passwordInvalid>
                            Debe tener al menos 6 caracteres.
                        </ng-template>
                    </small>
                </div>

                <button type="submit" [disabled]="formulario.invalid"
                    class="w-full bg-blue-600 text-white rounded-md py-2 hover:bg-blue-700 transition duration-200">Registrar</button>
            </form>
        </div>
    </div>
</div>