<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2><b>{{title}}</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-success" (click)="openGenericModal('Add Department', 'add')">
                            <i class="fa-solid fa-plus"></i> <span>Add New {{ titleName }}</span>
                        </button>
                        <button class="btn btn-danger" (click)="openDeleteModal(selectedEntityIds)"
                            [disabled]="selectedEntityIds.length === 0">
                            <i class="fa-solid fa-trash"></i> <span>Delete</span>
                        </button>


                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        @for(header of headersTable; track header) {
                        <th>{{header}}</th>
                        }
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of data; track item.id) {
                    <tr>
                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" [id]="'checkbox' + item.id"
                                    [checked]="selectedEntityIds.includes(item.id)" (change)="toggleSelection(item.id)">
                                <label [for]="'checkbox' + item.id"></label>
                            </span>
                        </td>
                        @for (header of headersTable; track header) {
                        <td>{{ item[header] }}</td>
                        }
                        <td class="d-flex justify-content-around gap-2">
                            <button class="btn btn-sm" (click)="openGenericModal('Edit Department', 'edit', item)">
                                <a class="edit"><i class="fa-solid fa-pen"></i></a>
                              </button>
                              

                            <button class="btn btn-sm " (click)="openDeleteModal(item.id)">
                                <a class="delete"><i class="fa-solid fa-trash"></i></a>
                            </button>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>