/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
	margin: 0;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 1rem;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 1rem;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}

.btnBorder{
	border-radius: 1rem!important;
	background:#435d7d ;
	color: white;
	border: none;
	cursor: pointer;
}

.delete {
	color: #F44336;
}